@charset "UTF-8";

.bg-quantum {
	background-color: #111111;
}

.login {
	width: 30%;
	margin: 2em auto;
}

.nav-nome {
	color: white;
}

.nav-nome:hover {
	color: white;
	cursor: default;
}

.list-livros {
	width: 60%;
	margin: 2em auto;
}
